In [32]:
import pyodbc
import pandas as pd

In [33]:
pyodbc.drivers()

['SQL Server',
 'PostgreSQL ANSI(x64)',
 'PostgreSQL Unicode(x64)',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server']

In [34]:
DRIVER_NAME= '{ODBC Driver 17 for SQL Server}'
SERVER_NAME='LAPTOP-OI5R2P2B\SQLEXPRESS'
DATABASE_NAME='demo'

connection_string=f"""
        
"""



conn= pyodbc.connect(
        DRIVER=DRIVER_NAME,
        SERVER=SERVER_NAME,
        DATABASE=DATABASE_NAME,
        Trusted_Connection='Yes'
                     
 )

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\aryan\AppData\Local\Temp\ipykernel_2764\4032257174.py:2: SyntaxWarning: invalid escape sequence '\S'
  SERVER_NAME='LAPTOP-OI5R2P2B\SQLEXPRESS'

In [35]:
print(conn)

<pyodbc.Connection object at 0x000001EDB4846800>

In [36]:
conn_1=conn.cursor()

In [40]:
conn_1.execute("select * from table_1")

In [41]:
for row in conn_1:
    print(row)

(33,)
(32,)
(31,)
(30,)

In [48]:
df=pd.read_sql_query("SELECT * FROM table_1",conn)

C:\Users\aryan\AppData\Local\Temp\ipykernel_2764\682783517.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query("SELECT * FROM table_1",conn)

In [49]:
df

   id
0  33
1  32
2  31
3  30